<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="PhoneNumbers" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\FSEGA\An 3\Medii de programare\MB_Lab5\Moldovan_Bianca_Lab5\exclud\PhoneNumbers.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>